@{
    ViewBag.Title = "Home Page";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Customer
            <small>Manage Customer</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Customer</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Manage Customer
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Tel</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>jaith kaushlya</td>
                            <td>mathra</td>
                            <td>0710543076</td>
                            <td>jaithkaushalya@gmail.com</td>
                        </tr>
                        <tr>
                            <td>ravindu wijepala</td>
                            <td>galle</td>
                            <td>0775266075</td>
                            <td>ravinduw119@gmail.com</td>
                        </tr>
                        <tr>
                            <td>vindo lakshan</td>
                            <td>midigama</td>
                            <td>0777123456</td>
                            <td>vinodlakshan@gmail.com</td>
                        </tr>
                        <tr>
                            <td>thisara dakshina</td>
                            <td>kuruduwaththa</td>
                            <td>071987654321</td>
                            <td>thisudakshinaDg@gmail.com</td>
                        </tr>
                        <tr>
                            <td>ulinduanjula</td>
                            <td>walgama</td>
                            <td>0712615478</td>
                            <td>ulinduanjula@gmail.com</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div style="height: 30px " class="col-md-12"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Customer id :</div>
                <div class="col-md-5">
                    <form role="form">
                        <div class="form-group input-group">
                            <span class="input-group-addon">*</span>
                            <input type="text" class="form-control" placeholder="Customer id">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">User Name :</div>
                <div class="col-md-5">
                    <form role="form">
                        <div class="form-group input-group">
                            <span class="input-group-addon">*</span>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Address :</div>
                <div class="col-md-5">
                    <form role="form">
                        <div class="form-group input-group">
                            <span class="input-group-addon">*</span>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Telephone number :</div>
                <div class="col-md-5">
                    <form role="form">
                        <div class="form-group input-group">
                            <span class="input-group-addon">*</span>
                            <input type="text" class="form-control" placeholder="xx xxxxxxxx">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">E-mail :</div>
                <div class="col-md-5">
                    <form role="form">
                        <div class="form-group input-group">
                            <span class="input-group-addon">*</span>
                            <input type="text" class="form-control" placeholder="E-mail">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"><input class="btn btn-success" type="submit" value="Modify"></div>
                <div class="col-md-2"><input class="btn btn-danger" type="submit" value="Remove"></div>
                <div class="col-md-2"><input class="btn btn-primary" type="submit" value=" Register"></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->